body {
    height: 100vh;
}
.main-word{
    font-size: 6rem;
}

.btn-circle.btn-xl {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    font-size: 1.5em;
    line-height: 1.33;
}

#train-all-btn{
    background-color: cornflowerblue;
    border-color: cornflowerblue;
}

#train-first-btn{
    background-color: lightcoral;
    border-color: lightcoral;
}

#train-second-btn{
    background-color: darkseagreen;
    border-color: darkseagreen;
}

#train-third-btn{
    background-color: #756999;
    border-color: #756999;
}

#train-fourth-btn{
    background-color: goldenrod;
    border-color: goldenrod;
}

.hide-this{
    display: none;
}

.show-this{
    display: block;
}

.six-week-col{
    margin-bottom: 10px;
}

.container-size{
    height: 60vh;
}

@media (min-width: 767px) {
    .main-word{
        font-size: 8rem;
    }
}